<div ng-show="user">
    {{ error }}
    <h2>{{user.name}}</h2>
    <div><img ng-src="{{gravatarUrl}}" 
              alt="{{user.name}}"</div><br/>
    Order:
    <select ng-model="repoSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
    </select>

    <table ng-show="user">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stars</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
                <td><a href="#/repos/{{username}}/{{repo.name}}">{{repo.name}}</a></td>
                <td>{{repo.stargazers_count | number}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>
    </table>

</div>
    
<a href="#/main">Back to Search</a>
